@import url('../../../styles/variables.css');

.contentTelemetry {
  display: flex;
  gap: 0.2rem;
  height: calc(100vh - 4rem - 0.6rem - 105px - 4.9rem);
  padding: 0.5rem;
  border-radius: 10px;
  border-top: 4px solid var(--color-primary-light);
  border-bottom: 4px solid var(--color-primary-light);
  background-color: var(--color-background-500);
}

.generalTelemetryItems {
  display: grid;
  flex: 0 40%;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-background-500);
  border-radius: 10px;
}

.ueTelemetryItems {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-background-500);
  border-radius: 10px;
}

.loading {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 10px;

  padding: 0.5rem;
  background-color: var(--color-background-500);
}
