@import url('../../../styles/variables.css');

.contentTelemetry {
  display: flex;
  gap: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: calc(100vh - 4rem - 0.6rem - 105px - 8.2rem);
}

.generalTelemetryData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 40%;
  background-color: var(--color-background-500);
}

.generalTelemetryItems {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

.ueTelemetryItems {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color-background-500);
  border-radius: 10px;
}

.loading {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 10px;

  padding: 0.5rem;
  background-color: var(--color-background-500);
}
