.log {
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
  list-style-type: none;
}

.logContent {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  padding: 0.5rem;
  border: solid black 2px;
  border-radius: 5px;
  background-color: #080f25;
  height: 5rem;
}

.log div:hover {
  background-color: #1a2a45;
  cursor: pointer;
}

.logTime {
  width: 135px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Inconsolata', Courier, monospace;
}

.logMessage {
  color: white;
  white-space: normal;
  flex-grow: 1;
  word-wrap: break-word;
  font-family: 'Inconsolata', Courier, monospace;
}
