.log {
  margin: 0rem 0rem 1rem 0rem;
}

.log div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  padding: 0.5rem;
  border: solid black 2px;
  border-radius: 5px;

  height: 4rem;

  background-color: #080f25;
}

.log div:hover {
  background-color: #1a2a45;
  cursor: pointer;
}

.logTime,
.logMessage {
  color: #d3d3d3;
  font-weight: bold;
}
