# Ignoriere node_modules, da diese innerhalb des Containers installiert werden sollen
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Ignoriere Log-Dateien
*.log
logs

# Ignoriere Umgebungsdateien
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignoriere Docker-Dateien
Dockerfile
docker-compose.yml

# Ignoriere Verzeichnisse, die von Git ignoriert werden
.git
.gitignore

# Ignoriere Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# Ignoriere Tests und Dokumentation (falls nicht benötigt)
tests
docs

# Ignoriere alte Module, die im deprecated-Verzeichnis gespeichert sind
deprecated
scripts

# Ignoriere temporäre Dateien und Verzeichnisse
temp
tmp
*.swp
