@import url('../../Styles/variables.css');

.dropdown {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.select {
  width: 12rem;
  border: solid 2px var(--color-background-900);
  background-color: var(--color-background-100);
  border-radius: 30px;
  padding: 0.3rem;
}

/** custom CSS for the <Select/> component **/

.select .react-select__placeholder {
  /* Styles for the placeholder */
  font-size: 0.8rem;
  text-transform: initial;
  color: var(--color-background-500);
}
.select .react-select__control {
  /* Styles for the control */
  padding: 8px;
  align-items: center;
}

.select .react-select__menu {
  /* Styles for the menu */
  display: flex;
  flex-direction: column;
  width: 12rem;
  border: solid 2px var(--color-background-900);
  background-color: var(--color-background-100);
  border-radius: 30px;
  margin-top: 0.5rem;
  margin-left: -6px;
}

.select .react-select__option {
  /* Styles for the options */
  display: flex;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  font-size: 0.8rem;
  color: var(--color-background-900);
}

.select .react-select__option:hover {
  /* Hover styles for the options */
  transition: all 0.1s;
  border-radius: 30px;
  font-weight: bolder;
}

.select .react-select__indicators {
  /* Styles for the arrow */
  color: var(--color-background-900);
}

.select .react-select__single-value {
  /* Styles for the single value */
  /* background-color: #f0f0f0; */
  border-radius: 2px;
  color: var(--color-background-900);
  padding: 2px;
}

.select .react-select__multi-value {
  /* Styles for the multi value */
  /* background-color: #f0f0f0; */
  border-radius: 2px;
  color: #080f25;
  padding: 2px;
}

.select .react-select__multi-value__label {
  /* Styles for the label of multi value */
  color: #080f25;
  font-size: 0.85rem;
}

.select .react-select__multi-value__remove {
  /* Styles for the remove button of multi value */
  color: red;
  cursor: pointer;
}

.select .react-select__multi-value__remove:hover {
  /* Hover styles for the remove button of multi value */
  color: #800020;
}
