:root {
  --color-primary: #6640d9;
  --color-primary-light: rgb(121, 80, 242);
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #d8dde5;
  --color-background-500: #485375;
  --color-background-900: #080f25;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}
