@import url('../../styles/variables.css');

.contentContainer {
  margin-top: 0.3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  border-top: 4px solid var(--color-primary-light);
  border-bottom: 4px solid var(--color-primary-light);
  background-color: var(--color-background-500);
}

.labelsTelemetry {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  height: 2rem;
  margin-top: -0.5rem;
  margin-bottom: 0.2rem;
}

.labelLeft {
  display: flex;
  justify-content: center;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
}

.labelRight {
  display: flex;
  justify-content: center;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.6);
}

.labelLeft p,
.labelRight p {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text);
}
