@import url('../../Styles/variables.css');

/** FORMS CONTAINER */

.formContainer {
  border-radius: 10px;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--color-background-500);
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

/** FORM CONTAINER */

.healthStatusForm,
.logsForm,
.telemetryForm {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  color: var(--color-text);
  text-transform: uppercase;
  width: 100%;
}

.selectDeviceContainer,
.selectMetricsContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
