@import url('../../styles/variables.css');

.formContainer {
  display: flex;
  flex: 1;
  border-radius: 10px;
  padding: 0.2rem;
  background-color: var(--color-background-500);
  align-items: center;
  transition: all 0.5s;
}
