@import url('../../Styles/variables.css');

/** INPUT TIMESTAMP */

.timeSpanContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.time {
  width: 12rem;
  padding: 8px;
  border: solid 2px var(--color-background-900);
  outline: none;
  border-radius: 30px;
  background-color: var(--color-background-100);
  color: var(--color-background-900);
  transition: all 0.2s;
}

.time:focus {
  border: solid 3.5px var(--color-primary-light);
}

.time::placeholder {
  color: var(--color-background-500);
  font-size: 0.8rem;
}

.time:disabled {
  background-color: var(--color-background-100);
  cursor: not-allowed;
}
