@import url('../../Styles/variables.css');

.log {
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
  list-style-type: none;
  border: 3px solid var(--color-primary);
  background-color: var(--color-background-900);
  border-radius: 50px;

  /* box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1); */
  transition: all 0.5s;
}

.logContent {
  display: flex;
  flex-direction: row;
  height: 5rem;
  gap: 4rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.log:hover {
  border-color: var(--color-background-900);
  border: 3px solid var(--color-primary-light);
  cursor: pointer;
  transform: translateY(-2px);
}

.log:hover .logTime,
.log:hover .logMessage {
  color: var(--color-text);
}

.logTime {
  width: 135px;
  margin-left: 0.5rem;
  color: var(--color-text-dark);
  font-weight: bold;
  white-space: nowrap;
}

.logMessage {
  color: var(--color-text-dark);
  white-space: normal;
  flex-grow: 1;
  word-wrap: break-word;
  font-size: 0.9rem;
}
