@import url('../../styles/variables.css');

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.5rem;
  transition: border 0.1s;
  text-align: center;
  font-weight: bold;
  color: var(--color-background-900);
  border-radius: 10rem;
  border: 2px solid var(--color-warning-dark);
  background-color: var(--color-warning);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.warning:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.5rem;
  transition: border 0.1s;
  text-align: center;
  font-weight: bold;
  font-size: 0.98rem;
  color: var(--color-background-900);
  border-radius: 10rem;
  border: 2px solid var(--color-error-dark);
  background-color: var(--color-error);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.error:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.5rem;
  transition: border 0.1s;
  text-align: center;
  font-weight: bold;
  color: var(--color-background-900);
  border-radius: 10rem;
  border: 2px solid var(--color-info-dark);
  background-color: var(--color-info);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.info:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.success,
.successWithData {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.5rem;
  transition: border 0.1s;
  text-align: center;
  font-weight: bold;
  color: var(--color-background-900);
  border-radius: 10rem;
  border: 2px solid var(--color-success-dark);
  background-color: var(--color-success);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.success,
.successWithData:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.successWithNoData {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.5rem;
  transition: border 0.1s;
  text-align: center;
  font-weight: bold;
  color: var(--color-background-900);
  border-radius: 10rem;
  border: 2px solid var(--color-warning-dark);
  background-color: var(--color-warning);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
}

.successWithNoData:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.messageIcon {
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  margin-bottom: -0.3rem;
  font-size: 1.2rem;
}
