@import url('../../../styles/variables.css');

.contentHealth {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100vh - 4rem - 0.6rem - 105px - 6.5rem);
}

.contentHealth.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--color-background-500);
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  background-color: var(--color-background-500);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color-background-500);
}
