.contentHealth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  border-radius: 10px;

  padding: 0.5rem;
  background-color: #37446b;

  height: 520px;
  overflow-y: auto;
}

.loading {
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 10px;

  padding: 0.5rem;
  background-color: #37446b;
}
