@import url('../../../Styles/variables.css');

.contentLogs {
  display: flex;
  gap: 0.5rem;

  height: 480px;

  border-top: 4px solid var(--color-primary-light);
  border-bottom: 4px solid var(--color-primary-light);
  border-radius: 10px;

  padding: 0.5rem;
  background-color: var(--color-background-500);

  align-items: center;
  justify-content: center;
}

.logs {
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  list-style-type: none;
  width: 100%;
  max-height: 100%;
}
