.contentLogs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5rem;

  height: 520px;

  border-radius: 10px;
  padding: 0.5rem;
  background-color: #37446b;
}

.logs {
  width: 65%;

  overflow-y: auto;

  list-style-type: none;
}
