@import url('../../styles/variables.css');

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}

.leftColumn {
  display: flex;
  font-size: 3.3rem;
}

.centerColumn {
  display: flex;
  justify-self: center;
}

.rightColumn {
  display: flex;
  margin-left: auto;
}

.title {
  font-size: 1.5rem;
  margin-right: auto; /* Pushes the title to the leftmost part of the flex container */
  text-transform: uppercase;
}

.date {
  margin-left: 1rem; /* Adds margin between title and date */
}
