@import url('../../Styles/variables.css');

/** BTNS FORM */

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/** Btn SUBMIT */

.btnSubmit {
  background-color: #15b244;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--color-text);
  border: 2px solid var(--color-background-900);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, width 0.3s;
}

.btnSubmit:disabled {
  color: var(--color-background-100);
  background-color: var(--color-background-100);
  cursor: not-allowed;
  border: 2px solid var(--color-background-900);
  border-radius: 30px;
  width: 0.5rem;
  position: relative;
  overflow: hidden;
}

.btnSubmit:disabled::after {
  content: '';
  display: block;
  font-size: initial;
}

.btnSubmit:not(:disabled):hover {
  background-color: #229b3e;
}

/** Btn RESET */

.btnReset {
  background-color: #f1bf29;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  border: 2px solid var(--color-background-900);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, width 0.3s;
}

.btnReset:disabled {
  color: var(--color-background-100);
  background-color: var(--color-background-100);
  cursor: not-allowed;
  border: 2px solid var(--color-background-900);
  border-radius: 30px;
  width: 0.5rem;
  position: relative;
  overflow: hidden;
}

.btnReset:disabled::after {
  content: '';
  display: block;
  font-size: initial;
}

.btnReset:not(:disabled):hover {
  background-color: #ffb347;
}

label {
  display: block;
  margin-left: 1rem;
  ont-weight: 100;
}
