/** BTNS FORM */

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/** Btn SUBMIT */

.btnSubmit {
  background-color: #15b244;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  border: 2px solid #080f25;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSubmit:disabled {
  color: #080f25;
  background-color: rgb(204, 198, 198);
  cursor: not-allowed;
  border: 2px solid #080f25;
  border-radius: 5px;
}

.btnSubmit:not(:disabled):hover {
  background-color: #229b3e;
}

/** Btn RESET */

.btnReset {
  background-color: #f1bf29;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  border: 2px solid #080f25;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnReset:disabled {
  color: #080f25;
  background-color: rgb(204, 198, 198);
  cursor: not-allowed;
  border: 2px solid #080f25;
  border-radius: 5px;
}

.btnReset:not(:disabled):hover {
  background-color: #ffb347;
}

label {
  display: block;
  margin-left: 1rem;
  ont-weight: 100;
}
