@import url('../../Styles/variables.css');

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 5rem;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color-background-500);
  transition: all 0.5s;
}
