.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.message {
  text-align: center;
  color: #febe10;
  font-size: 1.5rem;
  font-weight: bold;
}
